* A local PostgreSQL database housing your remote data.
* A Jupyter Notebook with the required problem statement, goals, and technical data.
* A written report of your findings that detail the accuracy and assumptions of your model.

In [1]:
#Collect your data from an AWS PostgreSQL instance, 
#import it into your local PostgreSQL database, and then import with Python

### Import required libs

In [2]:
import pandas as pd

### Import Titanic dataset from remote server

In [3]:
%load_ext sql

/Users/allenbyron/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/allenbyron/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [4]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic
select * from train limit 5;

5 rows affected.

[(0L, 1L, 0L, 3L, u'Braund, Mr. Owen Harris', u'male', 22.0, 1L, 0L, u'A/5 21171', 7.25, None, u'S'),
 (1L, 2L, 1L, 1L, u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', u'female', 38.0, 1L, 0L, u'PC 17599', 71.2833, u'C85', u'C'),
 (2L, 3L, 1L, 3L, u'Heikkinen, Miss. Laina', u'female', 26.0, 0L, 0L, u'STON/O2. 3101282', 7.925, None, u'S'),
 (3L, 4L, 1L, 1L, u'Futrelle, Mrs. Jacques Heath (Lily May Peel)', u'female', 35.0, 1L, 0L, u'113803', 53.1, u'C123', u'S'),
 (4L, 5L, 0L, 3L, u'Allen, Mr. William Henry', u'male', 35.0, 0L, 0L, u'373450', 8.05, None, u'S')]

In [5]:
tit = %sql select * from train;

891 rows affected.

In [7]:
type(tit)

sql.run.ResultSet

In [8]:
tit = pd.DataFrame(data=tit, columns=['index','PassengerId','Survived','Pclass','Name','Sex','Age',
                    'SibSp','Parch','Ticket','Fare','Cabin','Embarked'])

tit.drop(labels='index', axis=1, inplace=True)

### Explore and alter data as needed

In [9]:
tit.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [ ]:
tit.info()

In [ ]:
tit.isnull().any()

In [ ]:
#Change Sex to binary value
tit['Male'] = tit.Sex.map({'male':1,'female':2})
tit.Male.unique()

In [ ]:
#Cabin
#What dose Cabin mean re location and classs?
#Note: Possible data integrity issue in that a cell may have multiple cabins not on the same 'letter'/level

cabin=[]
for i in tit.Cabin:
    if i != None:
        cabin.append(i[0])
    else:
        cabin.append(None)

tit.Cabin = cabin
tit.Cabin.value_counts()

In [ ]:
#Age? There is a more Pandas-ish method
tit.Age

In [ ]:
#Embarked

In [ ]:
#Perform any necessary data wrangling in advance of building your model

Pro Tip: Here are some questions to keep in mind:
What are we looking for? What is the hypothesis?
How can we train the model?
What is the overall goal of this research project you have been assigned?

In [ ]:
#Create a logistic regression model to figure out the likelihood of a passenger's survival

In [ ]:
#Gridsearch optimal parameters for the logistic regression model

In [ ]:
#Create a kNN model and optimize it's parameters with gridsearch

In [ ]:
#Examine and explain tdhe confusion matrices and ROC curves

In [ ]:
#Create a report of your findings and detail the accuracy and assumptions of your model

In [ ]:
#[BONUS] Change the decision threshold for positive labels using predicted probabilities

#[BONUS] Examine precision-recall instead of accuracy/ROC curves

#[VERY BONUS] Construct decision tree classifiers and bagging classifiers on the data

#Bonus: Create a blog post of at least 500 words (and 1-2 graphics!) describing your data, analysis, 
#and approach. Link to it in your Jupyter notebook.