# Logistic Regression Lab

In the previous lab we have constructed a processing pipeline using `sklearn` for the titanic dataset. At this point you should have a set of features ready for consumption by a Logistic Regression model.

In this la we will use the pre-processing pipeline you have created and combine it with a classification model.


We have imported this titanic data into our PostgreSQL instance that you can find connecting here:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student titanic
    password: gastudents

First of all let's load a few things:

- standard packages
- the training set from lab 2.3
- the union we have saved in lab 2.3

In [37]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic')

df = pd.read_sql('SELECT * FROM train', engine)

In [38]:
import gzip
import dill

with gzip.open('../../../2.3-lab/assets/datasets/union.dill.gz') as fin:
    union = dill.load(fin)

In [55]:
union

FeatureUnion(n_jobs=1,
       transformer_list=[('pipeline-1', Pipeline(steps=[('columnselector', ColumnSelector(columns='Age')), ('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))])), ('getdummiestransformer', Ge...r(columns='Fare')), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True))]))],
       transformer_weights=None)

Then, let's create the training and test sets:

In [40]:
X = df[[u'Age',u'Fare',u'Pclass', u'Sex', u'Age', u'SibSp', u'Parch', u'Fare', u'Embarked']]
y = df['Survived']

In [41]:
X

      Age      Fare  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0    22.0    7.2500       3    male  22.0      1      0    7.2500        S
1    38.0   71.2833       1  female  38.0      1      0   71.2833        C
2    26.0    7.9250       3  female  26.0      0      0    7.9250        S
3    35.0   53.1000       1  female  35.0      1      0   53.1000        S
4    35.0    8.0500       3    male  35.0      0      0    8.0500        S
5     NaN    8.4583       3    male   NaN      0      0    8.4583        Q
6    54.0   51.8625       1    male  54.0      0      0   51.8625        S
7     2.0   21.0750       3    male   2.0      3      1   21.0750        S
8    27.0   11.1333       3  female  27.0      0      2   11.1333        S
9    14.0   30.0708       2  female  14.0      1      0   30.0708        C
10    4.0   16.7000       3  female   4.0      1      1   16.7000        S
11   58.0   26.5500       1  female  58.0      0      0   26.5500        S
12   20.0    8.0500       3    male  20.0      0      0    8.0500        S
13   39.0   31.2750       3    male  39.0      1      5   31.2750        S
14   14.0    7.8542       3  female  14.0      0      0    7.8542        S
15   55.0   16.0000       2  female  55.0      0      0   16.0000        S
16    2.0   29.1250       3    male   2.0      4      1   29.1250        Q
17    NaN   13.0000       2    male   NaN      0      0   13.0000        S
18   31.0   18.0000       3  female  31.0      1      0   18.0000        S
19    NaN    7.2250       3  female   NaN      0      0    7.2250        C
20   35.0   26.0000       2    male  35.0      0      0   26.0000        S
21   34.0   13.0000       2    male  34.0      0      0   13.0000        S
22   15.0    8.0292       3  female  15.0      0      0    8.0292        Q
23   28.0   35.5000       1    male  28.0      0      0   35.5000        S
24    8.0   21.0750       3  female   8.0      3      1   21.0750        S
25   38.0   31.3875       3  female  38.0      1      5   31.3875        S
26    NaN    7.2250       3    male   NaN      0      0    7.2250        C
27   19.0  263.0000       1    male  19.0      3      2  263.0000        S
28    NaN    7.8792       3  female   NaN      0      0    7.8792        Q
29    NaN    7.8958       3    male   NaN      0      0    7.8958        S
..    ...       ...     ...     ...   ...    ...    ...       ...      ...
861  21.0   11.5000       2    male  21.0      1      0   11.5000        S
862  48.0   25.9292       1  female  48.0      0      0   25.9292        S
863   NaN   69.5500       3  female   NaN      8      2   69.5500        S
864  24.0   13.0000       2    male  24.0      0      0   13.0000        S
865  42.0   13.0000       2  female  42.0      0      0   13.0000        S
866  27.0   13.8583       2  female  27.0      1      0   13.8583        C
867  31.0   50.4958       1    male  31.0      0      0   50.4958        S
868   NaN    9.5000       3    male   NaN      0      0    9.5000        S
869   4.0   11.1333       3    male   4.0      1      1   11.1333        S
870  26.0    7.8958       3    male  26.0      0      0    7.8958        S
871  47.0   52.5542       1  female  47.0      1      1   52.5542        S
872  33.0    5.0000       1    male  33.0      0      0    5.0000        S
873  47.0    9.0000       3    male  47.0      0      0    9.0000        S
874  28.0   24.0000       2  female  28.0      1      0   24.0000        C
875  15.0    7.2250       3  female  15.0      0      0    7.2250        C
876  20.0    9.8458       3    male  20.0      0      0    9.8458        S
877  19.0    7.8958       3    male  19.0      0      0    7.8958        S
878   NaN    7.8958       3    male   NaN      0      0    7.8958        S
879  56.0   83.1583       1  female  56.0      0      1   83.1583        C
880  25.0   26.0000       2  female  25.0      0      1   26.0000        S
881  33.0    7.8958       3    male  33.0      0      0    7.8958        S
882  22.0   10.5167       3  female  22.0      0      0   10.5167        S
883  28.0   10.5000       2    male  28.0      0      0   10.5000        S
884  25.0    7.0500       3    male  25.0      0      0    7.0500        S
885  39.0   29.1250       3  female  39.0      0      5   29.1250        Q
886  27.0   13.0000       2    male  27.0      0      0   13.0000        S
887  19.0   30.0000       1  female  19.0      0      0   30.0000        S
888   NaN   23.4500       3  female   NaN      1      2   23.4500        S
889  26.0   30.0000       1    male  26.0      0      0   30.0000        C
890  32.0    7.7500       3    male  32.0      0      0    7.7500        Q

[891 rows x 9 columns]

In [46]:
from sklearn.cross_validation import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [47]:
print X_train, X_test
print y_train, y_test

      Age      Fare  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
6    54.0   51.8625       1    male  54.0      0      0   51.8625        S
718   NaN   15.5000       3    male   NaN      0      0   15.5000        Q
685  25.0   41.5792       2    male  25.0      1      2   41.5792        C
73   26.0   14.4542       3    male  26.0      1      0   14.4542        C
882  22.0   10.5167       3  female  22.0      0      0   10.5167        S
328  31.0   20.5250       3  female  31.0      1      1   20.5250        S
453  49.0   89.1042       1    male  49.0      1      0   89.1042        C
145  19.0   36.7500       2    male  19.0      1      1   36.7500        S
234  24.0   10.5000       2    male  24.0      0      0   10.5000        S
220  16.0    8.0500       3    male  16.0      0      0    8.0500        S
370  25.0   55.4417       1    male  25.0      1      0   55.4417        C
811  39.0   24.1500       3    male  39.0      0      0   24.1500        S
132  47.0   14.5000       3  female  47.0      1      0   14.5000        S
694  60.0   26.5500       1    male  60.0      0      0   26.5500        S
864  24.0   13.0000       2    male  24.0      0      0   13.0000        S
185   NaN   50.0000       1    male   NaN      0      0   50.0000        S
41   27.0   21.0000       2  female  27.0      1      0   21.0000        S
547   NaN   13.8625       2    male   NaN      0      0   13.8625        C
108  38.0    7.8958       3    male  38.0      0      0    7.8958        S
603  44.0    8.0500       3    male  44.0      0      0    8.0500        S
56   21.0   10.5000       2  female  21.0      0      0   10.5000        S
394  24.0   16.7000       3  female  24.0      0      2   16.7000        S
706  45.0   13.5000       2  female  45.0      0      0   13.5000        S
549   8.0   36.7500       2    male   8.0      1      1   36.7500        S
24    8.0   21.0750       3  female   8.0      3      1   21.0750        S
351   NaN   35.0000       1    male   NaN      0      0   35.0000        S
429  32.0    8.0500       3    male  32.0      0      0    8.0500        S
434  50.0   55.9000       1    male  50.0      1      0   55.9000        S
51   21.0    7.8000       3    male  21.0      0      0    7.8000        S
526  50.0   10.5000       2  female  50.0      0      0   10.5000        S
..    ...       ...     ...     ...   ...    ...    ...       ...      ...
276  45.0    7.7500       3  female  45.0      0      0    7.7500        S
191  19.0   13.0000       2    male  19.0      0      0   13.0000        S
385  18.0   73.5000       2    male  18.0      0      0   73.5000        S
805  31.0    7.7750       3    male  31.0      0      0    7.7750        S
413   NaN    0.0000       2    male   NaN      0      0    0.0000        S
491  21.0    7.2500       3    male  21.0      0      0    7.2500        S
343  25.0   13.0000       2    male  25.0      0      0   13.0000        S
769  32.0    8.3625       3    male  32.0      0      0    8.3625        S
308  30.0   24.0000       2    male  30.0      1      0   24.0000        C
661  40.0    7.2250       3    male  40.0      0      0    7.2250        C
130  33.0    7.8958       3    male  33.0      0      0    7.8958        C
663  36.0    7.4958       3    male  36.0      0      0    7.4958        S
871  47.0   52.5542       1  female  47.0      1      1   52.5542        S
99   34.0   26.0000       2    male  34.0      1      0   26.0000        S
372  19.0    8.0500       3    male  19.0      0      0    8.0500        S
87    NaN    8.0500       3    male   NaN      0      0    8.0500        S
458  50.0   10.5000       2  female  50.0      0      0   10.5000        S
330   NaN   23.2500       3  female   NaN      2      0   23.2500        Q
214   NaN    7.7500       3    male   NaN      1      0    7.7500        Q
466   NaN    0.0000       2    male   NaN      0      0    0.0000        S
121   NaN    8.0500       3    male   NaN      0      0    8.0500        S
614  35.0    8.0500       3    male  35.0      0      0    8.0500        S
20   35.0   26.0000       2    male  35.0      0      0   26.0000        S
700  18.0  227.5250       1  female  18.0      1      0  227.5250        C
71   16.0   46.9000       3  female  16.0      5      2   46.9000        S
106  21.0    7.6500       3  female  21.0      0      0    7.6500        S
270   NaN   31.0000       1    male   NaN      0      0   31.0000        S
860  41.0   14.1083       3    male  41.0      2      0   14.1083        S
435  14.0  120.0000       1  female  14.0      1      2  120.0000        S
102  21.0   77.2875       1    male  21.0      0      1   77.2875        S

[596 rows x 9 columns]       Age      Fare  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
709   NaN   15.2458       3    male   NaN      1      1   15.2458        C
439  31.0   10.5000       2    male  31.0      0      0   10.5000        S
840  20.0    7.9250       3    male  20.0      0      0    7.9250        S
720   6.0   33.0000       2  female   6.0      0      1   33.0000        S
39   14.0   11.2417       3  female  14.0      1      0   11.2417        C
290  26.0   78.8500       1  female  26.0      0      0   78.8500        S
300   NaN    7.7500       3  female   NaN      0      0    7.7500        Q
333  16.0   18.0000       3    male  16.0      2      0   18.0000        S
208  16.0    7.7500       3  female  16.0      0      0    7.7500        Q
136  19.0   26.2833       1  female  19.0      0      2   26.2833        S
137  37.0   53.1000       1    male  37.0      1      0   53.1000        S
696  44.0    8.0500       3    male  44.0      0      0    8.0500        S
485   NaN   25.4667       3  female   NaN      3      1   25.4667        S
244  30.0    7.2250       3    male  30.0      0      0    7.2250        C
344  36.0   13.0000       2    male  36.0      0      0   13.0000        S
853  16.0   39.4000       1  female  16.0      0      1   39.4000        S
621  42.0   52.5542       1    male  42.0      1      0   52.5542        S
653   NaN    7.8292       3  female   NaN      0      0    7.8292        Q
886  27.0   13.0000       2    male  27.0      0      0   13.0000        S
110  47.0   52.0000       1    male  47.0      0      0   52.0000        S
294  24.0    7.8958       3    male  24.0      0      0    7.8958        S
447  34.0   26.5500       1    male  34.0      0      0   26.5500        S
192  19.0    7.8542       3  female  19.0      1      0    7.8542        S
682  20.0    9.2250       3    male  20.0      0      0    9.2250        S
538   NaN   14.5000       3    male   NaN      0      0   14.5000        S
819  10.0   27.9000       3    male  10.0      3      2   27.9000        S
30   40.0   27.7208       1    male  40.0      0      0   27.7208        C
673  31.0   13.0000       2    male  31.0      0      0   13.0000        S
63    4.0   27.9000       3    male   4.0      3      2   27.9000        S
396  31.0    7.8542       3  female  31.0      0      0    7.8542        S
..    ...       ...     ...     ...   ...    ...    ...       ...      ...
456  65.0   26.5500       1    male  65.0      0      0   26.5500        S
500  17.0    8.6625       3    male  17.0      0      0    8.6625        S
430  28.0   26.5500       1    male  28.0      0      0   26.5500        S
445   4.0   81.8583       1    male   4.0      0      2   81.8583        S
650   NaN    7.8958       3    male   NaN      0      0    7.8958        S
172   1.0   11.1333       3  female   1.0      1      1   11.1333        S
450  36.0   27.7500       2    male  36.0      1      2   27.7500        S
314  43.0   26.2500       2    male  43.0      1      1   26.2500        S
332  38.0  153.4625       1    male  38.0      0      1  153.4625        S
801  31.0   26.2500       2  female  31.0      1      1   26.2500        S
90   29.0    8.0500       3    male  29.0      0      0    8.0500        S
834  18.0    8.3000       3    male  18.0      0      0    8.3000        S
181   NaN   15.0500       2    male   NaN      0      0   15.0500        C
581  39.0  110.8833       1  female  39.0      1      1  110.8833        C
795  39.0   13.0000       2    male  39.0      0      0   13.0000        S
69   26.0    8.6625       3    male  26.0      2      0    8.6625        S
131  20.0    7.0500       3    male  20.0      0      0    7.0500        S
334   NaN  133.6500       1  female   NaN      1      0  133.6500        S
597  49.0    0.0000       3    male  49.0      0      0    0.0000        S
135  23.0   15.0458       2    male  23.0      0      0   15.0458        C
164   1.0   39.6875       3    male   1.0      4      1   39.6875        S
28    NaN    7.8792       3  female   NaN      0      0    7.8792        Q
783   NaN   23.4500       3    male   NaN      1      2   23.4500        S
193   3.0   26.0000       2    male   3.0      1      1   26.0000        S
869   4.0   11.1333       3    male   4.0      1      1   11.1333        S
715  19.0    7.6500       3    male  19.0      0      0    7.6500        S
525  40.5    7.7500       3    male  40.5      0      0    7.7500        Q
381   1.0   15.7417       3  female   1.0      0      2   15.7417        C
140   NaN   15.2458       3  female   NaN      0      2   15.2458        C
173  21.0    7.9250       3    male  21.0      0      0    7.9250        S

[295 rows x 9 columns]
6      0
718    0
685    0
73     0
882    0
328    1
453    1
145    0
234    0
220    1
370    1
811    0
132    0
694    0
864    0
185    0
41     0
547    1
108    0
603    0
56     1
394    1
706    1
549    1
24     0
351    0
429    1
434    0
51     0
526    1
      ..
276    0
191    0
385    0
805    0
413    0
491    0
343    0
769    0
308    0
661    0
130    0
663    0
871    1
99     0
372    0
87     0
458    1
330    1
214    0
466    0
121    0
614    0
20     0
700    1
71     0
106    1
270    0
860    0
435    1
102    0
Name: Survived, dtype: int64 709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
137    0
696    0
485    0
244    0
344    0
853    1
621    1
653    1
886    0
110    0
294    0
447    1
192    1
682    0
538    0
819    0
30     0
673    1
63     0
396    0
      ..
456    0
500    0
430    1
445    1
650    0
172    1
450    0
314    0
332    0
801    1
90     0
834    0
181    0
581    1
795    0
69     0
131    0
334    1
597    0
135    0
164    0
28     1
783    0
193    1
869    1
715    0
525    0
381    1
140    0
173    0
Name: Survived, dtype: int64

In [45]:
train_test_split?

## 1. Model Pipeline

Combine the union you have created in the previous lab with a LogisticRegression instance. Notice that a `sklearn.pipeline` can have an arbitrary number of transformation steps, but only one, optional, estimator step as the last one in the chain.

In [52]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [59]:
union_plus_lr = make_pipeline(union, LogisticRegression())

# 2 train_test

In [61]:
union_plus_lr.fit(X_train,y_train)

Pipeline(steps=[('featureunion', FeatureUnion(n_jobs=1,
       transformer_list=[('pipeline-1', Pipeline(steps=[('columnselector', ColumnSelector(columns='Age')), ('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=...ty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])

In [63]:
y_pred = union_plus_lr.predict(X_test)
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0])

## 3. Evaluate the model accuracy

1. Use the `confusion_matrix` and `classification_report` functions to assess the quality of the model.
- Embed the results of the `confusion_matrix` in a Pandas dataframe with appropriate column names and index, so that it's easier to understand what kind of error the model is incurring into.
- Are there more false positives or false negatives? (remember we are trying to predict survival)
- How does that relate to what the `classification_report` is showing?

In [64]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [69]:
cm = confusion_matrix(y_test,y_pred)
print cm

[[154  21]
 [ 37  83]]

In [68]:
cr = classification_report(y_test,y_pred)
print cr

             precision    recall  f1-score   support

          0       0.81      0.88      0.84       175
          1       0.80      0.69      0.74       120

avg / total       0.80      0.80      0.80       295

In [70]:
cm_table = pd.DataFrame(data=cm,columns=['Result1', 'Result0'],index=['Predict1','Predict0'])
cm_table

          Result1  Result0
Predict1      154       21
Predict0       37       83

## 4. Improving the model

Can we improve the accuracy of the model?

One way to do this is to use tune the parameters controlling it.

You can get a list of all the model parameters using `model.get_params().keys()`.

Discuss with your team which parameters you could try to change.

You can systematically probe parameter combinations by using the `GridSearchCV` function. Implement a new classifier that searches the best parameter combination.

1. How will you choose the grid granularity?
1. How can you prevent the grid to exponentially grow?

## 5. Assess the tuned model

A tuned grid search model stores the best parameter combination and the best estimator as attributes.

1. Use these to generate a new prediction vector `y_pred`.
- Use the `confusion matrix`and `classification_report` to assess the accuracy of the new model.
- How does the new model compare with the old one?
- What else could you do to improve the accuracy?

## Bonus

What would happen if we used a different scoring function? Would our results change?
Choose one or two classification metrics from the [sklearn provided metrics](http://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics) and repeat the grid_search. Do your result change?