* A local PostgreSQL database housing your remote data.
* A Jupyter Notebook with the required problem statement, goals, and technical data.
* A written report of your findings that detail the accuracy and assumptions of your model.

In [167]:
#Collect your data from an AWS PostgreSQL instance, 
#import it into your local PostgreSQL database, and then import with Python

### Import required libs

In [168]:
import pandas as pd

### Import Titanic dataset from remote server

In [169]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [170]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [171]:
tit = %sql select * from train;

891 rows affected.

In [172]:
col = %sql select column_name from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='train';

13 rows affected.

In [173]:
tit = pd.DataFrame(data=tit, columns=['index','PassengerId','Survived','Pclass','Name','Sex','Age',
                    'SibSp','Parch','Ticket','Fare','Cabin','Embarked'])

tit.drop(labels='index', axis=1, inplace=True)

### Explore and alter data as needed

In [174]:
tit.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [175]:
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [176]:
tit.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [177]:
#Change Sex to binary value
tit['Male'] = tit.Sex.map({'male':1,'female':2})
tit.Male.unique()

array([1, 2])

In [221]:
#Cabin
#What dose Cabin mean re location and classs?
#Note: Possible data integrity issue in that a cell may have multiple cabins not on the same 'letter'/level

cabin=[]
for i in tit.Cabin:
    if i != None:
        cabin.append(i[0])
    else:
        cabin.append(None)

tit.Cabin = cabin
tit.Cabin.value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: Cabin, dtype: int64

In [179]:
#Age? There is a more Pandas-ish method
tit.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, dtype: float64

In [ ]:
#Embarked

In [ ]:
#Perform any necessary data wrangling in advance of building your model

Pro Tip: Here are some questions to keep in mind:
What are we looking for? What is the hypothesis?
How can we train the model?
What is the overall goal of this research project you have been assigned?

In [ ]:
#Create a logistic regression model to figure out the likelihood of a passenger's survival

In [ ]:
#Gridsearch optimal parameters for the logistic regression model

In [ ]:
#Create a kNN model and optimize it's parameters with gridsearch

In [ ]:
#Examine and explain tdhe confusion matrices and ROC curves

In [ ]:
#Create a report of your findings and detail the accuracy and assumptions of your model

In [ ]:
#[BONUS] Change the decision threshold for positive labels using predicted probabilities

#[BONUS] Examine precision-recall instead of accuracy/ROC curves

#[VERY BONUS] Construct decision tree classifiers and bagging classifiers on the data

#Bonus: Create a blog post of at least 500 words (and 1-2 graphics!) describing your data, analysis, 
#and approach. Link to it in your Jupyter notebook.