# Basic MongoDB

Import pymongo                                                            
Create client & and a database

In [11]:
import pymongo

In [51]:
conn = pymongo.MongoClient('localhost', 27017)

In [52]:
conn.database_names()

[u'local', u'test']

In [53]:
db = conn.test
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), u'test')

Import the restuarent dataset "primer-dataset.json"

In [48]:
#mongoimport --db test --collection restaurants --drop --file ~/downloads/primer-dataset.json

#OR

#mongoimport -d test -c restaurants primer-dataset.json

Insert a new document into a collection named restuarants

In [56]:
collection = db.restaurants

In [57]:
collection.find_one()

{u'_id': ObjectId('57feea1111b860d03bf635d9'),
 u'address': {u'building': u'8825',
  u'coord': [-73.8803827, 40.7643124],
  u'street': u'Astoria Boulevard',
  u'zipcode': u'11369'},
 u'borough': u'Queens',
 u'cuisine': u'American ',
 u'grades': [{u'date': datetime.datetime(2014, 11, 15, 0, 0),
   u'grade': u'Z',
   u'score': 38},
  {u'date': datetime.datetime(2014, 5, 2, 0, 0), u'grade': u'A', u'score': 10},
  {u'date': datetime.datetime(2013, 3, 2, 0, 0), u'grade': u'A', u'score': 7},
  {u'date': datetime.datetime(2012, 2, 10, 0, 0),
   u'grade': u'A',
   u'score': 13}],
 u'name': u'Brunos On The Boulevard',
 u'restaurant_id': u'40356151'}

Find all the restuarants in the database

In [58]:
collection.find().count()

25359

Find all the restarants where "borough" = "brooklyn"

In [70]:
collection.find({'borough': 'Brooklyn'}).count()

6086

Find all the resturants where the score is less than 15

In [136]:
collection.find({'grades.score' : {'$lt' : 15}}).count()

23828

Sort restuarnts  first by the cuisine in ascending order and then to the ascending order of score within each borough

In [151]:
for x in collection.find({'name': {'$exists':True}}).sort('cuisine')
    print x.name

SyntaxError: invalid syntax (<ipython-input-151-863ad6013f6b>, line 1)

remove all the resturants in Staten Island

Count all the resturants in each borough

Count all the grade A resturants that serve Italian cuisine in each zipcode

Create an ascending index on grade of each resturant

Since it's like the easiest lab in GA history explore more! Try to represent data in plots etc. & If we have time each of you can present your different ideas! :)