# Data Workflow Lab 2

Proceed with your analysis of the Project 3 data set. You may need to compute new columns as you proceed. Fit one or more linear models to the data, investigate model fits and outliers, use regularization when appropriate.

### Learning objectives
- Perform exploratory analysis
- Generate correlation matrix of the features
- Generate linear regression models
- Evaluate model fit

If appropriate for your models and featuers:
- Use [feature selection](http://scikit-learn.org/stable/modules/feature_selection.html) to pick the best features
- Try different regularization options

In [5]:
% matplotlib inline

from collections import defaultdict
import datetime

from matplotlib import pyplot as plt
# Make the plots bigger
plt.rcParams['figure.figsize'] = 10, 10
import seaborn as sns

import numpy as np
import pandas as pd
from sklearn import linear_model

In [8]:
# Load the data from the previous lab
# If you changed the name you'll need to edit the next line
sales = pd.read_csv("~/Desktop/Classes/dsi1_exercise_book/notebooks/sales_post_33.csv")
sales.head()

# Convert dates?

,Unnamed: 0,store_num,city,sale_sum,sale_mean,county_num,zip_code,liters_sold_sum,liters_sold_mean,price_per_liter_mean,margin_mean,q1_2015_sales_x,q1_2015_sales_y,q1_2016_sales_x,q1_2015_sales,q1_2016_sales_y
0,0,2106,CEDAR FALLS,176517.45,270.732285,7,50613,11836.10,18.153528,17.869110,5.167822,26440.94,26440.94,20525.78,26440.94,20525.78
1,1,2113,GOWRIE,11376.12,61.826739,94,50543,836.85,4.548098,18.301651,5.429565,1527.27,1527.27,1620.10,1527.27,1620.10
2,2,2130,WATERLOO,139440.02,274.488228,7,50703,8436.27,16.606831,16.963739,5.008799,16380.74,16380.74,18209.17,16380.74,18209.17
3,3,2152,ROCKWELL,8625.74,53.576025,17,50469,720.87,4.477453,12.954562,4.302484,1686.31,1686.31,904.66,1686.31,904.66
4,4,2178,WAUKON,29912.68,101.398915,3,52172,2437.92,8.264136,15.866688,4.825627,3679.17,3679.17,3785.19,3679.17,3785.19

## Exploratory Analysis
Make some plots, look at correlations, etc.

In [ ]:
# Compute correlations

In [ ]:
# Perform some exploratory analysis, make a few plots

In [ ]:
# Fit a linear model

# Plot the data and the best fit line

# Compute the model fit

In [ ]:
# Predict Total 2016 sales, compare to 2015

In [ ]:
# Try per zip code or city to get better resolution

In [ ]:
# Filter out stores that opened or closed throughout the year
# If this wasn't done already

In [ ]:
# Fit another model

# Compute the model fit

In [ ]:
# Predict Total 2016 sales, compare to 2015