# Basic MongoDB

##### Had to upload without the results as the file size went over 25MB with the results :(

Import pymongo                                                            
Create client & and a database

In [ ]:
from pymongo import MongoClient

In [ ]:
conn=MongoClient()

In [ ]:
conn.database_names()

In [ ]:
db = conn.test

Import the restuarent dataset "primer-dataset.json"

In [ ]:
#mongoimport --db test --collection restaurants --drop --file ~/downloads/primerdataset.json

Insert a new document into a collection named restuarants

In [ ]:
from datetime import datetime
result = db.restaurants.insert_one(
    {
        "address": {
            "street": "2 Avenue",
            "zipcode": "10075",
            "building": "1480",
            "coord": [-73.9557413, 40.7720266]
        },
        "borough": "Manhattan",
        "cuisine": "Italian",
        "grades": [
            {
                "date": datetime.strptime("2014-10-01", "%Y-%m-%d"),
                "grade": "A",
                "score": 11
            },
            {
                "date": datetime.strptime("2014-01-16", "%Y-%m-%d"),
                "grade": "B",
                "score": 17
            }
        ],
        "name": "Vella",
        "restaurant_id": "41704620"
    }
)

In [ ]:
result.inserted_id

Find all the restuarants in the database

In [ ]:
cursor = db.restaurants.find()
for document in cursor:
    print(document)

Find all the restarants where "borough" = "brooklyn"

In [ ]:
cursor = db.restaurants.find({"borough": "Manhattan"})
for document in cursor:
    print(document)

Find all the resturants where the score is less than 15

In [ ]:
cursor = db.restaurants.find({"grades.score": {"$lt": 15}})
for document in cursor:
    print(document)

Sort restuarts  first by the grade field in ascending order and then to the ascending order of score within each borough

In [ ]:
import pymongo
cursor = db.restaurants.find().sort([
    ("grade", pymongo.ASCENDING),
    ("score", pymongo.ASCENDING)
])
for document in cursor:
    print(document)

remove all the resturants in Staten Island

In [ ]:
result = db.restuarant.delete_many({"borough": "Staten Island"})

In [ ]:
result.deleted_count

Count all the resturants in each borough

In [ ]:
cursor = db.restuarants.aggregate(
    [
        {"$group": {"_id": "$borough", "count": {"$sum": 1}}}
    ]
)

for document in cursor:
    print(document)

Count all the grade A resturants that serve Italian cuisine in each zipcode

In [ ]:
cursor = db.restaurants.aggregate(
    [
        {"$match": {"grades.grade": "A", "cuisine": "Italian"}},
        {"$group": {"_id": "$address.zipcode", "count": {"$sum": 1}}}
    ]
)
for document in cursor:
    print(document)